{% extends 'food/nav.html' %} {% block body %}
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-sm" style="width: 30rem">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Add New Item</h5>

      <form method="POST" class="p-3">
        {% csrf_token %}

        <!-- Django Form -->
        <div class="mb-3">{{ form.as_p }}</div>

        <!-- Submit Button -->
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary btn-block w-100">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
